* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Inter', 'Arial', 'Calibri';
	background-color: #fff;
	font-size: 1.6em;
	line-height: 1;
	padding: 0;
	margin: 0;
}

p {
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
}

h1 {
	font-size: 6.4rem;
	line-height: 1;
}

.header {
	position: fixed;
	/*position: sticky;*/
	width: 100%;
	top: 0;
}

.header-container {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	padding: 14px 0; 
	margin-bottom: 5rem;
}

.hero {
	/*background: url("img/header-img.svg");*/
	/*background-color: #000;*/
	/*background-position: center;*/
	/*background-repeat: no-repeat;*/
	background: url('img/header-img.svg') #000 no-repeat center;
	height: 72rem;
	margin-bottom: 10rem;
}

.link-text {
	color: #fff;
	margin: 0;
	margin-right: 2em;
	text-decoration: none;
}

.btn {
	background-color: #E61830;
	color: #fff;
	border: 0;
	padding: 2rem 3rem;
	border-radius: 6px;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	transition: all .3s ease;
}

.btn:hover {
	opacity: 80%;
}

.btn-small {
	padding: 1.2rem 1.2rem;
}

.download-btn {
	transition: all 0.5s ease;
}

.download-btn:hover {
	opacity: 50%;
}

.hero-left {
	width: 31.86%;
}

.hero-text {

}

.hero-text-1 {
	color: #fff;
	opacity: 50%;
}

.hero-text-2 {
	font-weight: 800;
	font-size: 6.4rem;
	color: #fff;
}

.hero-text-3 {
	color: #fff;
	opacity: 70%;
	padding-right: 0;
}

.mb-80 {
	margin-bottom: 8rem;
}

.mb-16 {
	margin-bottom: 1.6rem;
}

.mb-24 {
	margin-bottom: 2.4rem;
}

.mb-32 {
	margin-bottom: 3.2rem;
}

.mb-40 {
	margin-bottom: 4rem;
}

.mb-42 {
	margin-bottom: 4.2rem;
}

.title {
	text-align: center;
	margin-bottom: 2.4rem;
	opacity: 50%;
	font-size: 1.8rem;
}

.cards {
	display: flex; /* не убирай, сломается */
	margin-bottom: 8rem;
}

.right-cards {
	margin-top: 9rem;
}

.card {
	background-color: #F8F8F8;
	padding: 64px;
	margin-bottom: 2.4rem;
	border-radius: 8px;
	transition: all .3s ease;
}

.card:hover {
	background-color: #ededed;
}

.card-img {
	width: 100%;
	transition: 0.4s ease;
}

.card-img:hover {
	transform: scale(1.05);
}

.title-card {
	font-weight: 800;
	font-size: 3.2rem;
	line-height: 1.1;
}

.text-card {
	margin-bottom: 3em;
}

.car-img {
	width: 100%;
	margin-bottom: 8em;
}

.without-mb {
	margin-bottom: 0;
}

.ver-label {
	text-align: center;
	margin-bottom: 2.4rem;
}

.ver-title {
	text-align: center;
	font-weight: 800;
	font-size: 3.2rem;
	margin-bottom: 2.4rem;
}

.table {
	width: 100%;
}

.races-img {
	width: 100%;
}

.table-version {
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;

}

.table-and {
	display: flex;
	align-items: center;
	margin-right: 4rem;
}

.table-app {
	display: flex;
	align-items: center;
}

.table-and-img {
	border: 1px solid #D3DEE7;
	padding: 0.8rem 0.5rem 1rem 0.56rem;
	border-radius: 4px;
	margin-right: 0.8rem;
}

.table-app-img {
	border: 1px solid #D3DEE7;
	padding: 0.7rem 0.95rem 1rem 0.95rem;
	border-radius: 4px;
	margin-right: 0.8rem;
}

.table-up {
	display: flex;
	border-bottom: 1px solid #121213;
	margin-bottom: 2.4rem;
	padding-bottom: 2rem;
}

.table-up-left {
	display: flex;
	align-items: flex-end;
	width: 28%;
	color: #868B8F;
}

.table-up-center-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 24%;
}

.table-up-center-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 24%;
	background-color: #F8F8F8;
}

.table-up-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 24%;
}

.table-bot {
	display: flex;
}

.table-bot-left {
	display: flex;
	flex-direction: column;
	width: 28%; 
}

.table-bot-center-right {
	background-color: #F8F8F8;
}

.table-bot-center-left {
	display: flex;
	flex-direction: column;
	width: 24%;
}

.table-bot-center-right {
	display: flex;
	flex-direction: column;
	width: 24%;
}

.table-bot-right {
	display: flex;
	flex-direction: column;
	width: 24%;
}

.table-cell {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7rem;
	border-bottom: 1px solid #D3DEE7;
}

.table-cell:last-child {
	border-bottom: none;
}

.version {
	font-size: 1.6rem;
	margin-bottom: 0.8rem;
}

.price-version {
	display: flex;
	margin-bottom: 0.8rem;
}

.price {
	font-size: 4.8rem;
}

.dollar {
	margin-top: 0.5rem;
	font-size: 2rem;
	margin-right: 0.4rem;
}

.buy-btn {
	background-color: #fff;
	color: #E61830;
	border: 1px solid #E61830;
	padding: 1.2rem 1.2rem;
	border-radius: 6px;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 800;
	background-image: -webkit-linear-gradient(45deg, #E61830 5%, transparent 5%);
	background-image: linear-gradient(45deg, #E61830 5%, transparent 5%);
	background-position: 100%;
	background-size: 400%;
	-webkit-transition: background 150ms ease-in-out;
	transition: background 150ms ease-in-out;
}

.buy-btn:hover {
	background-position: 0;
}




























